*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.menu{
    text-align: center;
}

.wrapper{
    width: 30%;
    margin: 0 auto;
    border: 2px solid #ededed;
    border-radius: 12px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: -15px;
}
h4{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    color:#9e9e9e;
}


form{
    width: 100%;
    padding: 15px;
}

input{
    width: 100%;
    padding: 2% 4%;
    margin-bottom: 2%;
    border-radius: 30px;
    border: 0.5px solid rgb(146, 146, 146);
    font-size: 17px;
    outline: none;
}

.gender{
    display: inline-flex;
    padding: 2% 4%;
}

.gender input{
    margin-top: 5px;
}

.check{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check input{
    width: 30px;
    margin-top: 10px;
}

button{
    background-color: green;
    width: 100%;
    padding: 2% 4%;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    outline: none;
    color: white;
}